# maven ignore
target/
output/
out/
build
# *.jar
*.war
*.zip
*.tar
*.tar.gz
tree.txt


# idea ignore
.idea/
.gradle/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

